body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  width: 100%;
  height: 100vh;


} */


/* video {
  width: 100%;

} */

.content {
  position: bottom;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.search-bar{
  width: 30%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  height: auto;
  background-color: yellow;
}

h1 {
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
}

p {
  text-align: center;
}

table {
  max-width: 85%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form-inline {
  max-width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
