*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%; 
    height:100%; 
    overflow-x: hidden;
}

body{
    width: 100%; 
    min-height:100%; 
    display: flex;
    font-family: 'Poppins', sans-serif;
}

video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

span::selection{
    color: yellowgreen;
    background: rgb(77, 77, 77);
}

h1::selection{
    color: rgb(77, 77, 77);
    background: yellowgreen;
}

a::selection{
    color: yellowgreen;
    background: rgb(77, 77, 77);
}

img::selection{
    background-color: rgb(77, 77, 77);
}

.sidebar-container{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.2rem 2rem;
    min-height: 300px;
}

.sidebar-container::after{
    content: "";
    position: absolute;
    display: block;
    border-right: 1.5px solid rgb(175, 175, 175);
    height: 100%;
    top: 0;
    right: 0;
}

.logo{
    margin-bottom: 1rem;
}

.logo img{
    width: 3rem;
    transform: translateX(-10px);
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.logo img:hover{
    transform: translateX(-10px) translateY(-6px);
}

.side-text{
    display: block;
    margin-top: auto;
}

.side-text img{
    width: 1.8rem;
    margin-top: 0.5rem;
}

.arrow{
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px grey;
    border-radius: 50%;
    transform: translateX(-1px);
}

.arrow:hover{
    animation: 1.5s linear infinite arrow_anim;
}

@keyframes arrow_anim{
    0%{
        box-shadow: 0px 0px 0px 3px grey;
    }
    20%{
        box-shadow: 3px 0px 0px 0px rgb(107, 107, 107);
    }
    40%{
        box-shadow: 0px 3px 0px 0px rgb(87, 87, 87);
    }
    80%{
        box-shadow: 0px 0px 3px 0px rgb(77, 77, 77);
    }
    80%{
        box-shadow: 0px 0px 0px 3px grey;
    }
}

.hero{
   display: flex;
   flex-direction: column; 
   width: 100%;
}

nav{
    margin: 1.2rem 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}

nav .fa{
    display: none;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    position: relative;
}

nav ul li:first-child:after{
    content: '';
    position: absolute;
    top: 10%;
    left:-1.5%;
    width: 0.3rem;
    height: 70%;
    background: rgb(180, 180, 0);
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 800;
    transition: all ease-in-out 0.3s;
    letter-spacing: 1.1px;
}

nav ul li a:hover{
    color: rgb(185, 185, 0);
    transform: translateY(-6px);
}

.search-container img{
    width: 1.5rem;
    transform: translateY(3px);
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.search-container img:hover{
    transform: translateY(-6px);
}

main{
    margin: 0 2rem;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 45% 5% 20% 28%;
    height: 100%;
    min-height: 500px;
    position: relative;
}

.action-container{
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.action-container h1{
    font-size:clamp(3.0rem  ,  0.779rem  + 4.622vw , 8.0rem);
    color: whitesmoke;
    margin-left: 3rem;
}

.buttons{
    margin-left: 3rem;
}

.buttons .button1{
    display: inline-block;
    background: rgb(233, 176, 33);
    position: relative;
    border:none;
    border-radius: 5px;
    transition: all ease-in-out 0.3s;
}

.button1:hover{
    background: rgb(143, 107, 16);
    transform: translateY(-6px);
}

.buttons .button1 a{
    display: block;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: whitesmoke;
    padding: 0.7rem 2rem;
}

.buttons .button2{
    background: transparent;
    border: none;
    position: relative;
    transition: all ease-in-out 0.3s;
}

.buttons .button2::after{
    content: '';
    position: absolute;
    top: 50%;
    right:5%;
    height: 75%;
    width: 3px;
    transform: translateY(-50%);
    background: rgb(233, 176, 33);
    animation: button2 5s infinite ease-in-out;
}

@keyframes button2{
    0%{
        height: 0;
    }
    50%{
        height: 75%;
    }
    100%{
        height: 0;
    }
}

.buttons .button2 a{
    display: block;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: whitesmoke;
    padding: 0.7rem 2rem;
    transition: all ease-in-out 0.3s;
}

.button2:hover a{
    color: rgb(143, 107, 16);
    transform: translateY(-6px);
}

.share-icon{
    grid-row: 2/3;
    grid-column: 2/3;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.share-icon img{
    width: 2rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.share-icon img:hover{
    transform: translateY(-5px);
    opacity: 0.7;
}

.main-txt{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    text-transform: uppercase;
    font-weight: 700;
    font-size: clamp(1.2rem  ,  0.233rem  + 2.016vw , 2.5rem);
    position: relative;
}

.main-txt::after{
    content: "";
    position: absolute;
    bottom: 0;
    background: chocolate;
    height: 1px;
    padding-left: 60%;
    opacity: 0.5;
    animation: after_anim infinite 6s ease-in-out;
}

@keyframes after_anim{
    0%{
        padding-left:0;
    }
    50%{
        padding-left:60%;
    }
    100%{
        padding-left:0; 
    }
}

.span1{
    color: rgb(90, 85, 85);
}

.span2{
    color: whitesmoke;  
}

.footer{
    grid-column: 1/3;
    grid-row:4/5;
    display: flex;
    align-items: flex-end;
}

.footer ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style: none;
    gap: 6rem;
    margin:2rem 0;
}

.footer a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    transition: all ease-in-out 0.5s;
}

.footer a:hover{
    transform: translateY(-6px);
    color: rgb(143, 107, 16);;
}

.footer a::before{
    content: "";
    display: block;
    width: 1px;
    height: 7rem;
    transform: rotateZ(30deg) translateY(4rem) translateX(-2rem);
    transform-origin: bottom;
    background: rgb(107, 107, 107);
}

@media screen and (min-width: 2500px){
    .logo img{
        width: 5rem;
    }

    .side-text img{
        width: 3rem;
    }

    .search-container img {
        width: 2rem;
    }

    nav ul li a{
        font-size: 1.5rem;
    }

    .footer a{
        font-size: 1.3rem;
    }

    .main-txt{
        font-size: 3.5rem;
    }

    .buttons{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1000px){
    nav{
        gap:1rem
    }

    nav ul li:first-child:after{
        top: 0;
        left:-2%;
        height: 55%;
        width: 0.3rem;
    }

    nav ul li a{
        font-size: 0.8rem;
    }

    .search-container img{
        width: 1.2rem;
        transform: translateY(0px);
    }

    .footer ul{
        gap: 2rem;
    }

    .footer a{
        font-size: 0.8rem
    }

    .footer a::before{
        height:3.5rem;
        transform: rotateZ(30deg) translateY(2rem) translateX(-0.5rem);
    }
}

@media screen and (max-width: 820px){
    nav{
        margin: 1.2rem 0.5rem 0  0;
    }

    nav ul{
        display: none;
    }

    nav img{
        display: none;
    }

    nav .fa{
        display: block;
        color: white;
        font-size:1.8rem;
        cursor: pointer;
        margin-right: 1.4rem;
    }

    .action-container{
        grid-column: 1/3;
    }

    .action-container h1{
        margin-left: 0.5rem;
    }

    .action-container .buttons{
        margin-left:0.5rem;
    }

    .main-txt{
        grid-column: 1/3;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 600px){
    .sidebar-container{
        padding: 1.2rem 0.5rem;
    }

    .side-text{
       margin-left: 6px;
    }

    .side-text img{
        width: 1.2rem;
    }

    .logo img{
        width: 2rem;
        transform: translateY(0);
    }

    .action-container{
        align-items: flex-start;
    }

    .action-container h1{
        margin: 0;
        font-size: 2rem;
    }

    .action-container .buttons{
        margin: 0;
        font-size: 0.8rem;
    }

    .buttons .button1 a{
        padding: 0.5rem 0.8rem;
    }

    .buttons .button2 a{
        padding: 0.5rem 0.8rem;
    }

    .footer{
        display: none;
    }
}

@media screen and (max-width: 403px){

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0.2rem;
    }

    nav .fa{
        margin: 0;
    }

    .action-container{
        gap: 5rem;
    }

    .action-container h1{
        text-align: center;
        align-self: center;
    }

    .buttons{
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-self: center;
    }

    .share-icon{
        margin-right: 0.5rem;
        width: unset;
    }

    .main-txt{
        margin-top: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* clamp 769->2500px */